@font-face {
	font-family: 'Degular';
	src: url('/fonts/DegularDemo-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Degular';
	src: url('/fonts/DegularDemo-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Degular';
	src: url('/fonts/DegularDemo-Semibold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@tailwind base;
@tailwind components;

:root {
	@apply bg-gray-900 text-white antialiased overflow-x-hidden scroll-smooth;
}

.container {
	@apply mx-auto w-full max-w-[theme(screens.xl)] px-[max(theme(padding.5),5vw)] xl:px-5;
}

:is([class*='entered:']) {
	transition: all 0.7s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.overlap {
	display: grid;
	grid-template-areas: 'overlap';
}

.inline-overlap {
	display: inline-grid;
	grid-template-areas: 'overlap';
}
.overlap > :not(.absolute),
.inline-overlap > :not(.absolute),
.overlap-item,
.inline-overlap-item {
	grid-area: overlap;
}

@tailwind utilities;
